body {
  background-image: linear-gradient(0deg, #490000 30%, white 100%);
  background-size: cover; }

.encabezados {
  font-family: "Roboto", sans-serif;
  margin-left: 5vh; }

.encabezados-login {
  font-family: "Roboto", sans-serif; }

.titulo {
  font-family: "Play", sans-serif;
  color: #650000;
  font-size: 5vh; }

.titulo-login {
  font-family: "Play", sans-serif;
  color: #650000;
  text-align: center; }

#enlace-titulo {
  text-decoration: none;
  margin: 5vh; }

#navbarNav li a {
  text-decoration: none;
  color: #650000;
  margin: 5px; }

nav {
  font-family: "Exo", sans-serif;
  color: black; }
  nav ul li {
    list-style: none; }

.lista-act {
  height: 50vh; }

#main {
  height: 50vh; }

.section {
  width: 50vh; }

.s2titulo {
  font-family: "Exo", sans-serif; }

.logo {
  width: 15vh;
  border-radius: 50%;
  margin: auto;
  border: solid black 4px; }

#cards1 {
  box-shadow: 5px 5px 20px white;
  font-family: "Play", sans-serif; }

#cards {
  font-family: "Roboto", sans-serif;
  max-width: 100%;
  margin-bottom: 15px;
  font-size: 5vh;
  color: aliceblue;
  background: radial-gradient(circle, black 0%, #5d0013 100%);
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
  transition: all 400ms ease; }
  #cards img {
    justify-items: end; }

#cards:hover {
  box-shadow: 5px 5px 20px #7a0000;
  transform: translate(-3%);
  color: azure; }

.login-box {
  background: #710000;
  text-decoration: none;
  text-align: center;
  height: 80vh;
  border-radius: 10%;
  border: solid 4px black; }

.login-box h2 {
  font-size: 3vh;
  color: aliceblue;
  padding: 10px; }

.enlaces a {
  text-decoration: none;
  color: black; }

main legend {
  color: aliceblue; }

.form-registro {
  font-family: "Play", sans-serif;
  background: #650000;
  color: azure; }

.formulario {
  color: aliceblue;
  font-size: large; }

.actividades {
  font-family: "Play", sans-serif;
  color: aliceblue;
  font-size: small;
  background-color: #650000; }

.lista1 {
  background-color: black;
  color: aliceblue; }

.titulo-act {
  font-family: "Play", sans-serif;
  background-color: #650000;
  color: aliceblue; }

.boton {
  background: black;
  color: aliceblue; }

.login-boton {
  color: white;
  background-color: black;
  color: #fff;
  border-color: #ffffff;
  width: 50%; }

.tit-foot {
  color: #f4f7fa;
  font-family: "Play", sans-serif; }
  .tit-foot p {
    color: black; }

#footer {
  background-color: #650000; }
  #footer .iconos {
    text-align: center; }
    #footer .iconos i {
      font-size: 100px;
      justify-content: center;
      color: aliceblue;
      font-size: 40px;
      justify-content: center;
      padding: 10px;
      border-radius: 50%;
      margin: 10px; }
  #footer .fa-facebook, #footer .fa-instagram, #footer .fa-whatsapp {
    background-color: blue; }
  #footer .fa-instagram {
    background-color: #6a008a; }
  #footer .fa-whatsapp {
    background-color: green; }
  #footer .fa-facebook:hover, #footer .fa-instagram:hover, #footer .fa-whatsapp:hover {
    background-color: black; }
