
#header {
  height:12vh;
}
#main {
 
  height: 50vh;
}
#footer {
  width: 10vh;
  background-color: rgb(101, 0, 0);
}
#section{
  width: 50vh;
}
#footer a img{
  width: 5vh;
}
.s2titulo {
  
  font-family: "Exo", sans-serif;

}

body {
  background-image: linear-gradient(0deg, rgba(73,0,0,1) 30%, rgba(255,255,255,1) 100%);
  background-size: cover;
}

h2.encabezados {
  font-family: "Roboto", sans-serif;
}
.titulo {
  font-family: "Play", sans-serif;
  color: rgb(101, 0, 0);
}
a#enlace-titulo {
  text-decoration: none;
}
.login-box {
  background: rgb(101, 0, 0);
  font-family: "Roboto", sans-serif;
  text-decoration: none;
}
.login-box h3 {
  color: aliceblue;
}
.enlaces {
  text-decoration: none;
}

.form-registro {
  font-family: "Play", sans-serif;
  background: rgb(101, 0, 0);
  color: azure;
  
}

.actividades {
  font-family: "Play", sans-serif;
  color: aliceblue;
}
.lista1 {
  background-color: black;
  color: aliceblue;
  
}
.titulo-act{
  font-family: "Play", sans-serif;
  background-color: rgb(101, 0, 0);
  color: aliceblue;
}

.boton {
  width: 50%;
  background: black;
  color: aliceblue;
}

.container-fluid li a {
  text-decoration: none;
  color: rgb(101, 0, 0);
  transition: font-size 1s;
}
.container-fluid li a:hover{
  font-size: 35px;
}

nav {
  font-family: "Exo", sans-serif;
  color: black;
}
nav ul li {
  list-style: none;
}


.tit-foot {
  color: aliceblue;
  font-family: "Play", sans-serif;
}
.tit-foot p {
  color: black;
}