#main {
  height: 100vh;
}

.section {
  width: 50vh;
}

.s2titulo {
  font-family: "Exo", sans-serif;
}
.logo {
  width: 15vh;
  border-radius: 50%;
  margin: auto;
  border: solid black 4px;
}
main{
  legend{
    border-radius: 100px 0px 50px 0px;
  }
}
#cards1 {
  box-shadow: 5px 5px 20px rgb(255, 255, 255);
  font-family: "Play", sans-serif;
  border-radius: 0px 0px 100px 0px;
  border: solid 4px black;  
}
#cards {
  font-family: "Roboto", sans-serif;
  max-width: 100%;
  border-radius: 0px 0px 100px 0px;
  border: solid 4px black;
  margin-bottom: 15px;
  font-size: 4vh;
  color: aliceblue;
  background: radial-gradient(
    circle,
    rgba(0, 0, 0, 1) 0%,
    rgba(93, 0, 19, 1) 100%
  );
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
  transition: all 400ms ease;
  img {
    justify-items: end;
  }
}
section{
  a{
    text-decoration: none;
  }
}
#cards:hover {
  box-shadow: 5px 5px 20px rgb(255, 255, 255);
  transform: translate(-3%);
  color: azure;
}
.enlace-cards{
  color: black;
  text-decoration: dotted;
}
.enlace-cards:hover{
  color: red;
}

.login-box {
  background: rgb(113, 0, 0);
  text-decoration: none;
  text-align:center;
  height: 100vh;
  border-radius: 100px 0px 100px 0px;
  border: solid 4px black;

}
.login-box {
  h2 {
    background-color: black;
    font-size: 4vh;
    color: aliceblue;
    padding: 30px;
  }
}

.enlaces {
  a {
    text-decoration: none;
    color: black;
    font-size: 25px;
    padding: auto;
  }
}

main {
  legend {
    color: aliceblue;
  }
}
.form-registro {
  font-family: "Play", sans-serif;
  background: rgb(101, 0, 0);
  color: azure;
  border-radius: 100px 0px 100px 0px;
  border: solid 4px black;
}
.formulario {
  color: aliceblue;
  font-size:large;
}

.actividades {
  font-family: "Play", sans-serif;
  color: aliceblue;
  font-size:small;
  background-color: rgb(101, 0, 0);
}
.lista1 {
  background-color: black;
  color: aliceblue;
}
.titulo-act {
  font-family: "Play", sans-serif;
  background-color: rgb(101, 0, 0);
  color: aliceblue;
  text-align: center;
  border-radius: 100px 0px 100px 0px;
  border: solid 4px black;
}


.boton {
  background: black;
  color: aliceblue;
}
.login-boton {
  color: white;
  background-color: black;
  color: #fff;
  border-color: #ffffff;
  width: 50%;
}
.iconos {
  text-align: center;
  background-color: black;
  i {
    font-size: 100px;
    justify-content: center;
    color: aliceblue;
    font-size: 40px;
    justify-content: center;
    padding: 10px;
    border-radius: 50%;
    margin: 10px;
  }
  p{
    color: antiquewhite;
  }
}
