#main {
  height: 50vh;
}

.section {
  width: 50vh;
}

.s2titulo {
  font-family: "Exo", sans-serif;
}
.logo {
  width: 15vh;
  border-radius: 50%;
  margin: auto;
  border: solid black 4px;
}
#cards1 {
  box-shadow: 5px 5px 20px rgb(255, 255, 255);
  font-family: "Play", sans-serif;
}
#cards {
  font-family: "Roboto", sans-serif;
  margin-bottom: 15px;
  font-size: 5vh;
  color: aliceblue;
  background: radial-gradient(
    circle,
    rgba(0, 0, 0, 1) 0%,
    rgba(93, 0, 19, 1) 100%
  );
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
  transition: all 400ms ease;
  img {
    justify-items: end;
  }
}
#cards:hover {
  box-shadow: 5px 5px 20px rgb(122, 0, 0);
  transform: translate(-3%);
  color: azure;
}

.login-box {
  background: rgb(113, 0, 0);
  text-decoration: none;
  text-align: center;
  height: 80vh;
  border-radius: 10%;
  border: solid 4px black;

}
.login-box {
  h2 {
    font-size: 3vh;
    color: aliceblue;
    padding: 10px;
  }
}

.enlaces {
  a {
    text-decoration: none;
    color: black;
  }
}
main {
  legend {
    color: aliceblue;
  }
}
.form-registro {
  font-family: "Play", sans-serif;
  background: rgb(101, 0, 0);
  color: azure;
}
.formulario {
  color: aliceblue;
  font-size:large;
}

.actividades {
  font-family: "Play", sans-serif;
  color: aliceblue;
  font-size:small;
  background-color: rgb(101, 0, 0);
}
.lista1 {
  background-color: black;
  color: aliceblue;
}
.titulo-act {
  font-family: "Play", sans-serif;
  background-color: rgb(101, 0, 0);
  color: aliceblue;
}


.boton {
  background: black;
  color: aliceblue;
}
.login-boton {
  color: white;
  background-color: black;
  color: #fff;
  border-color: #ffffff;
  width: 50%;
}
